body {
    min-width: 1200px;
    min-height: 100vh;
    overflow-x: hidden;
    color: #000;
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei;
    margin-top: 0;
}

html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.content {
    width: 1200px;
    margin: auto;
}

.list-tit .text .tit {
    font-size: 24px;
}

.list-tit .text .description {
    font-size: 12px;
    margin-left: 10px;
    color: #999;
}

.list-con {
    display: flex;
    flex-wrap: wrap;
}

.list-con .item {
    position: relative;
    width: 285px;
    margin-top: 20px;
    margin-right: 20px;
    transition: all .2s;
    cursor: pointer;
}

.list-con .item .goods-img {
    width: 285px;
    height: 285px;
    line-height: 285px;
    text-align: center;
    font-size: 0;
}

.list-con .item .goods-img img {
    max-width: 80%;
    max-height: 80%;
    vertical-align: middle;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.list-con .item .goods-msg {
    text-align: center;
    padding: 15px 10px 0;
}

.list-con .item .goods-msg .goods-name {
    height: 20px;
    line-height: 14px;
    font-size: 14px;
    max-width: 100%;
}

.list-con .item .goods-msg .goods-price {
    display: flex;
    justify-content: center;
    height: 16px;
    line-height: 16px;
    margin-top: 10px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
